
.b-list-title{
    background-color: #f3f3f3;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8
}
.b-list-title a{
    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    margin: 0;
    padding-left: 10px;
    color: #874604
}

.review .review-list ul li{
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
}
.review .review-list ul li a{
    display: block;
}
.review .review-list ul li a .review-top{
    margin-bottom: 10px;
}
.review .review-list ul li a .r-t-img{
    float: left;
    margin-right: 10px;
}
.review .review-list ul li a img{
    width: 80px;
    height: 80px;
}
.review .review-list ul li a .r-t-title{
    color:#999;
    line-height: 22px;
    font-size: 14px
}
.review .review-list ul li .review-content{
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #e7e7e7;
    position: relative;
}
.review .review-list ul li .review-content::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -7px;
    left: 30px;
    border-bottom: 8px solid #f8f8f8;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.review .review-list ul li .review-content::before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 29px;
    border-bottom: 8px solid #e7e7e7;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.review .review-list ul li .review-content a .r-c-title{
    color:#4f6900;
    font-size: 14px;
}
.review .review-list ul li .review-content a .r-c-title i{
    float: right;
}
.review .review-list ul li .review-content .r-c-content{
    margin-top: 10px;
    color: #000000;
    font-size: 15px;
}