@charset "utf-8";
.mmb-cc {
  height: 35px;
  background-color: #ff9000;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
  background: -moz-linear-gradient(top, #ffaf47, #ff9000);
  background: -o-linear-gradient(top, #ffaf47, #ff9000);
  border-bottom: solid 1px #ffc881;
  line-height: 35px;
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.mmb-cc img {
  float: right;
  margin-right: 10px;
  color: #fff;
  margin-top: 8px;
}
.loading {
  width: 100%;
  transform: translateX(50%);
}
.loading img {
  transform: translateX(-50%);
  height: auto;
}
body {
  background: #f7f7f7;
}
/* ~~~ --- footer B --- ~~~ */
footer {
  background: #fff;
  margin-top: 10px;
}
footer .row div {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ccc;
}
footer .row div a {
  width: 100%;
  height: 100%;
  display: block;
}
footer p {
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
footer p a {
  color: #000;
}
footer p a:first-child {
  color: red;
}
/* ~~~ --- 新人礼包遮罩层 B --- ~~~ */
#mmb-gift {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9999;
  display: block;
}
#mmb-gift .gift {
  width: 75%;
  max-width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#mmb-gift .gift a img {
  width: 100%;
  max-height: 500px;
}
#mmb-gift .gift i {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background: url(../../images/close.png) no-repeat;
  cursor: pointer;
}
/* ~~~ --- 菜单栏menu B --- ~~~ */
#mmb-menu {
  min-height: 188px;
  padding: 6px 0;
  background: white;
}
#mmb-menu .row div a {
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}
#mmb-menu .row div a img {
  width: 50px;
  height: 50px;
}
#mmb-menu .row div a p {
  margin: 0 0 10px;
}
/* ~~~ --- 推荐栏 recommen B --- ~~~ */
#mmb-recomment a div {
  margin-top: 4px;
}
/* ~~~ --- 折扣 mmb-discount B --- ~~~ */
#mmb-discount {
  padding-bottom: 10px;
}
#mmb-discount .dis-list {
  min-height: 128px;
  max-width: 960px;
  background: white;
  font-size: 14px;
  margin: 0 auto;
}
#mmb-discount .dis-list ul li {
  padding: 14px 8px;
  position: relative;
}
#mmb-discount .dis-list ul li a {
  display: block;
}
#mmb-discount .dis-list ul li a .dis-pic {
  width: 110px;
}
#mmb-discount .dis-list ul li a .dis-pic img {
  width: 100px;
  height: 100px;
}
#mmb-discount .dis-list ul li a .dis-info .dis-title {
  color: #333;
  min-height: 57px;
  line-height: 19px;
  font-size: 15px;
  word-break: break-all;
}
#mmb-discount .dis-list ul li a .dis-info .dis-title span {
  color: #ff6c00;
  display: inline;
}
#mmb-discount .dis-list ul li a .dis-info .dis-other {
  margin-top: 8px;
  color: #a1a1a1;
  font-size: 12px;
}
#mmb-discount .dis-list ul li a .dis-info .dis-other .dis-comment .icon-comment {
  background-image: url(../../images/comment.png);
  width: 13px;
  height: 11px;
  display: inline-block;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 3px;
}
#mmb-discount .dis-more {
  text-align: center;
}
#mmb-discount .dis-more a {
  line-height: 30px;
  background: #f4f4f4;
  font-size: 13px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#ffffff, #f4f4f4);
  background-image: -ms-linear-gradient(#ffffff, #f4f4f4);
  background-image: -o-linear-gradient(#ffffff, #f4f4f4);
  background-image: linear-gradient(#ffffff, #f4f4f4);
  -moz-background-clip: padding;
}
/* ~~~ --- 排行 mmb-brandRanking B --- ~~~ */
#mmb-brandRanking a div {
  margin-top: 10px;
  margin-bottom: 6px;
}
